- var github = 'https://github.com/PaperElectron'
- var resume = '/files/jim_bulkowski_resume.pdf'
- var linkedIn = 'https://www.linkedin.com/in/jimtotheb'
- var npm = 'https://www.npmjs.com/~paperelectron'
- var blog = 'http://blog.paperelectron.com'
- var travis = 'https://travis-ci.org/PaperElectron'
- var docker = 'https://hub.docker.com/u/paperelectron/'

.text-center
  a(href=github) Github
  | &nbsp;•&nbsp;
  a(href=linkedIn) LinkedIn
  | &nbsp;•&nbsp;
  a(href=blog) The Blog
  | &nbsp;•&nbsp;
  a(href=resume) Resume
.text-center
  a(href=docker) Docker Hub
  | &nbsp;•&nbsp;
  a(href=npm) npm
  | &nbsp;•&nbsp;
  a(href=travis) Travis CI
